<section class="horizontal-form">
  <div class="container-fluid">

    {{!-- This line shows the driver title which you don't have to change it --}}
    <div class="over-hr"><span>{{driverOptionsTitle}}</span></div>

    <div class="row">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">Management Endpoint</label>
      </div>
      <div class="col-sm-12 col-md-4">
        {{input type="text"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.endpoint
          }}
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="form-control-static help-block">Nutanix management endpoint IP address</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 form-label">
        <label class="form-control-static">Username</label>
      </div>
      <div class="col-md-4">
        {{input type="text"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.username
          }}
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="form-control-static help-block">Nutanix management username</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">Password</label>
      </div>
      <div class="col-sm-12 col-md-4">
        {{input type="password"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.password
          }}
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="form-control-static help-block">Nutanix management password</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 form-label">
        <label class="form-control-static">Cluster</label>
      </div>
      <div class="col-md-4">
        {{input type="text"
        class="form-control"
        value=model.%%DRIVERNAME%%Config.cluster
        }}
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="form-control-static help-block">The name of the cluster.</p>
      </div>
    </div>

    <div class="col-md-2">
      <div class="checkbox">
        <label class="acc-label">{{input type="checkbox" checked=model.%%DRIVERNAME%%Config.insecure}}
          Allow insecure communication to the endpoint
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 form-label">
        <label class="form-control-static">vCPU</label>
      </div>
      <div class="col-md-4">
        {{input type="text"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.vmCpus
          }}
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="form-control-static help-block">Number of VCPUs of the VM to be created</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 form-label">
        <label class="form-control-static">vCORE</label>
      </div>
      <div class="col-md-4">
        {{input type="text"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.vmCores
          }}
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="form-control-static help-block">Number of cores per VCPU of the VM to be created</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 form-label">
        <label class="form-control-static">VM Memory</label>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          {{input type="text"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.vmMem
          }}
          <span class="input-group-addon">MB</span>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="form-control-static help-block">Memory of the VM to be created (MB)</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 form-label">
        <label class="form-control-static">VM Image</label>
      </div>
      <div class="col-md-4">
        {{input type="text"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.vmImage
          }}
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="form-control-static help-block">The name of the VM disks to clone from, for the newly created VM</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">Template Disk Size (GiB)</label>
      </div>
      <div class="col-sm-12 col-md-4">
        {{input type="text"
        class="form-control"
        value=model.%%DRIVERNAME%%Config.vmImageSize
        }}
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="form-control-static help-block">
          Size to extand the template disk in GiB.
          Set this to zero if you don't want to extend the template disk.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 form-label">
        <label class="form-control-static">VM Network(s)</label>
      </div>
      <div class="col-md-4">
        {{input type="text"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.vmNetwork
          }}
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="form-control-static help-block">The name of the network to attach to the newly created VM. Separate multiple networks by ",".</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 form-label">
        <label class="form-control-static">Cloud Config YAML</label>
      </div>
      <div class="col-md-4">
        {{input type="file"
            class="form-control"
            value=model.%%DRIVERNAME%%Config.cloudInit
          }}
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="form-control-static help-block">The content of the Cloud-init file</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 form-label">
        <label class="form-control-static">VM Categories</label>
      </div>
      <div class="col-md-4">
        {{input type="text"
        class="form-control"
        value=model.%%DRIVERNAME%%Config.vmGroup
        }}
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="form-control-static help-block">The name of the group to attach to the newly created VM. Separate multiple groups by ",".</p>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">Storage Container</label>
      </div>
      <div class="col-sm-12 col-md-4">
        {{input type="text"
        class="form-control"
        value=model.%%DRIVERNAME%%Config.storageContainer
        }}
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="form-control-static help-block">
          UUID of the storage container to be used for the additional disk.
          Leave empty if you don't want to provision an extra disk.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">Disk Size (GiB)</label>
      </div>
      <div class="col-sm-12 col-md-4">
        {{input type="text"
        class="form-control"
        value=model.%%DRIVERNAME%%Config.diskSize
        }}
      </div>
      <div class="col-sm-12 col-md-4">
        <p class="form-control-static help-block">
          Size of the additional disk to be provisioned in GiB.
          Set this to zero if you don't want to provision an extra disk.
        </p>
      </div>
    </div>

    {{!-- This following contains the Name, Labels and Engine Options fields --}}
    <div class="over-hr"><span>{{templateOptionsTitle}}</span></div>

    {{form-name-description
      model=model
      nameRequired=true
    }}

    {{form-user-labels
      initialLabels=labelResource.labels
      setLabels=(action 'setLabels')
      expandAll=expandAll
      expand=(action expandFn)
    }}

    {{form-engine-opts
      machine=model
      showEngineUrl=showEngineUrl
    }}

    {{!-- This component shows errors produced by validate() in the component --}}
    {{top-errors errors=errors}}

    {{!-- This component shows the Create and Cancel buttons --}}
    {{save-cancel save="save" cancel=(action "cancel")}}
  </div>
</section>